body
  font-family Geneva, Arial, Helvetica, sans-serif
a
  cursor pointer
h3
  display inline-block
.navbar-brand > span
  display block
  float left
  position relative
  margin-right 5px
  top -4px
  font-size 1.6em
  
#map
  width 100%
  height 400px
  background-color #CCC
  margin 10px 0
  
.query.selected > td
  background-color #386DF6
  color #fff
.venue.selected > td
  background-color #3B8D04
  color #fff